.element-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-page .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}

.element-page .overlap {
  position: relative;
  width: 1926px;
  height: 1080px;
}

.element-page .img {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}

.element-page .shadow {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #00000073;
}

.element-page .contact-form {
  position: absolute;
  width: 746px;
  height: 380px;
  top: 700px;
  left: 1180px;
}

.element-page .overlap-group {
  position: relative;
  width: 740px;
  height: 380px;
  background-color: #ffffff;
}

.element-page .div {
  position: absolute;
  width: 501px;
  height: 31px;
  top: 264px;
  left: 120px;
}

.element-page .discuss-a-project {
  position: absolute;
  width: 394px;
  height: 31px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: #ffac2f;
  font-size: 20px;
  letter-spacing: 9px;
  line-height: normal;
}

.element-page .arrow {
  position: absolute;
  width: 121px;
  height: 22px;
  top: 5px;
  left: 380px;
}

.element-page .overlap-2 {
  position: absolute;
  width: 500px;
  height: 65px;
  top: 81px;
  left: 120px;
}

.element-page .text-wrapper {
  position: absolute;
  width: 253px;
  height: 65px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.element-page .line {
  position: absolute;
  width: 500px;
  height: 1px;
  top: 59px;
  left: 0;
  object-fit: cover;
}

.element-page .overlap-3 {
  position: absolute;
  width: 500px;
  height: 65px;
  top: 155px;
  left: 120px;
}

.element-page .text-wrapper-2 {
  position: absolute;
  width: 253px;
  height: 65px;
  top: 0;
  left: 1px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.element-page .line-2 {
  position: absolute;
  width: 500px;
  height: 1px;
  top: 64px;
  left: 0;
  object-fit: cover;
}

.element-page .slogan {
  position: absolute;
  width: 690px;
  height: 384px;
  top: 266px;
  left: 314px;
}

.element-page .slide-points {
  position: absolute;
  width: 25px;
  height: 164px;
  top: 379px;
  left: 1780px;
}

.element-page .overlap-4 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  border-radius: 12.5px;
}

.element-page .ellipse {
  width: 7px;
  height: 7px;
  top: 9px;
  left: 9px;
  background-color: #ffac2f;
  border-radius: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-2 {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  border-radius: 12.5px;
  border: 1px solid;
  border-color: #ffffff4c;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-3 {
  width: 7px;
  height: 7px;
  top: 46px;
  left: 9px;
  background-color: #ffffff4c;
  border-radius: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-4 {
  width: 7px;
  height: 7px;
  top: 83px;
  left: 9px;
  background-color: #ffffff4c;
  border-radius: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-5 {
  width: 7px;
  height: 7px;
  top: 120px;
  left: 9px;
  background-color: #ffffff4c;
  border-radius: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-6 {
  width: 7px;
  height: 7px;
  top: 157px;
  left: 9px;
  background-color: #ffffff4c;
  border-radius: 3.5px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .left-panel {
  position: absolute;
  width: 52px;
  height: 984px;
  top: 14px;
  left: 65px;
}

.element-page .p {
  position: absolute;
  width: 508px;
  height: 21px;
  top: 320px;
  left: -229px;
  transform: rotate(-90deg);
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 12px;
  text-align: center;
  letter-spacing: 8.34px;
  line-height: normal;
}

.element-page .image {
  position: absolute;
  width: 11px;
  height: 20px;
  top: 786px;
  left: 20px;
}

.element-page .image-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 848px;
  left: 16px;
}

.element-page .image-3 {
  position: absolute;
  width: 18px;
  height: 15px;
  top: 909px;
  left: 16px;
}

.element-page .image-4 {
  position: absolute;
  width: 21px;
  height: 15px;
  top: 969px;
  left: 14px;
}

.element-page .line-3 {
  position: absolute;
  width: 1px;
  height: 154px;
  top: 613px;
  left: 24px;
  object-fit: cover;
}

.element-page .logo {
  position: absolute;
  width: 50px;
  height: 57px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element-page .header {
  position: absolute;
  width: 1566px;
  height: 99px;
  top: 20px;
  left: 178px;
  background-color: transparent;
}

.element-page .line-4 {
  position: absolute;
  width: 1564px;
  height: 1px;
  top: 99px;
  left: 0;
  object-fit: cover;
}

.element-page .menu {
  position: absolute;
  width: 30px;
  height: 16px;
  top: 34px;
  left: 0;
}

.element-page .line-5 {
  position: absolute;
  width: 25px;
  height: 2px;
  top: -2px;
  left: 0;
}

.element-page .line-6 {
  position: absolute;
  width: 13px;
  height: 2px;
  top: 6px;
  left: 0;
}

.element-page .line-7 {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 14px;
  left: 0;
}

.element-page .text-wrapper-3 {
  position: absolute;
  width: 190px;
  height: 21px;
  top: 29px;
  left: 157px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: normal;
}

.element-page .order-a-call {
  position: absolute;
  width: 436px;
  height: 80px;
  top: 0;
  left: 1098px;
}

.element-page .overlap-group-2 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 354px;
  border-radius: 40px;
}

.element-page .ellipse-7 {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #ffffff4c;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-8 {
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  border-radius: 40px;
  border: 1px solid;
  border-color: #ffffff1a;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .ellipse-9 {
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  background-color: #ffffff26;
  border-radius: 20px;
  position: absolute;
  transform: rotate(90deg);
}

.element-page .image-5 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 34px;
  left: 34px;
}

.element-page .text-wrapper-4 {
  position: absolute;
  width: 265px;
  height: 21px;
  top: 32px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
  color: #ffac2f;
  font-size: 16px;
  text-align: right;
  letter-spacing: 1.6px;
  line-height: normal;
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:500");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
